body{
    padding: 100px;
    text-align: center;
}
#payment-verification table{
    text-align: left;
}
#payment-verification th{
    padding-left: 50px;
}
#payment-verification a{
    color: cornflowerblue;
}